{% extends 'base.html.twig' %}

{% block title %}Создание игрок{% endblock %}

{% block body %}
    <h1>Создание игрока</h1>

    {{ include('player/_form.html.twig') }}

    <a href="{{ path('app_player_index') }}">Вернуться</a>
{% endblock %}
