<form method="post" action="{{ path('app_clan_delete', {'id': clan.id}) }}" onsubmit="return confirm('Вы действительно хотите удалить этот клан?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ clan.id) }}">
    <button class="btn">Удалить</button>
</form>
