<form method="post" action="{{ path('app_type_game_delete', {'id': type_game.id}) }}" onsubmit="return confirm('Вы действительно хотите удалить этот тип?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_game.id) }}">
    <button class="btn">Удалить</button>
</form>
