{% extends 'base.html.twig' %}

{% block title %}Новый тип игры{% endblock %}

{% block body %}
    <h1>Новый тип игры</h1>

    {{ include('type_game/_form.html.twig') }}

    <a href="{{ path('app_type_game_index') }}">Вернуться</a>
{% endblock %}
